The approach here is find sales by warehouse. This can be done through sql query and outputting data into a table through pandas.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import pyodbc

try:
    cnx = pyodbc.connect("""DRIVER={ODBC Driver 17 for SQL Server};
                            SERVER=cosc304.ok.ubc.ca;
                            DATABASE=analysis;
                            UID=cosc304;
                            PWD=cosc304""")
    cursor = cnx.cursor()
    cursor.execute("""  SELECT 
                            w.warehouseName,
                            SUM(op.price)*SUM(op.quantity) as sales
                        FROM orderproduct op JOIN ordersummary os ON op.orderId=os.orderID
                                            JOIN shipment s ON os.shipmentId=s.shipmentId
                                            JOIN warehouse w on s.warehouseId=w.warehouseId
                        GROUP BY w.warehouseName;""")
    
    data = {'warehouseName': [],
            'sales': []}
    table = pd.DataFrame(data)

    i = 0
    for row in cursor:
        table.loc[i] = [str(row[0]), str(row[1])]
        i=i+1

    print(table)

except pyodbc.Error as err:
    print(err)
finally:
    cnx.close()

        warehouseName         sales
0  Winnipeg Warehouse  639749810.03
1   Kelowna Warehouse  788777703.96
2   Toronto Warehouse  734555335.92

According to the chart table, the best in sales is at Kelowna Warehouse. Thus, more resources, money and time must be spent there and there must be good employees and management. This can offer as a learning environment to see where Toronto and Winnipeg warehouses could be better based off further data as employee qualifications, hours, management style, and overall business workings.